.podcast {
    &__list {
        background-color: white;
        &__title {
            color: #0136b4;
        }
    }

    tr {
        height: 40px;
        cursor: pointer;
        &:hover {
            background-color: rgb(206, 206, 206);
        }
    }

    tr:nth-child(even) {
        background-color: #f6f6f6;
        &:hover {
            background-color: rgb(206, 206, 206);
        }
      }
}