<div class="podcast-episode">
  <div
    class="d-flex justify-content-between"
    *ngIf="podCastTrackInfo$ | async as podCastTrackInfo"
  >
    <div class="cursor-pointer">
      <app-podcast-info
        (click)="goBackDetail()"
        [avatar]="podCastTrackInfo.podCast.info.artworkUrl600"
        [trackName]="podCastTrackInfo.podCast.info.trackName"
        [description]="podCastTrackInfo.track.shortDescription"
      ></app-podcast-info>
    </div>

    <div class="d-flex-col w-70 podcast-episode__list">
      <div>
        <div class="card-box-shadow pl-4 pr-4 pt-3 pb-3">
          <div class="d-flex-col">
            <h2>{{ podCastTrackInfo.track.trackName }}</h2>
            <p
              class="f-italic"
              [innerHTML]="podCastTrackInfo.track.description"
            ></p>

            <div class="mt-4">
              <audio class="w-100" controls>
                <source
                  [src]="podCastTrackInfo.track.previewUrl"
                  [type]="
                    podCastTrackInfo.track.episodeContentType +
                    '/' +
                    podCastTrackInfo.track.episodeFileExtension
                  "
                />
                Your browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
