<div class="podcast container-fluid">
  <!-- 
   <div class="d-flex" *ngIf="podCast$ | async as podCast">
    <div class="d-flex">
      <app-podcast-info [data]="podCast.info"></app-podcast-info>
    </div>
    <div class="d-flex-col w-100 podcast__list">
      <div>
        <p class="card-box-shadow p-3 f-bold">
          {{
            "PODCAST.DETAIL.EPISODES.TITLE"
              | translate
                : {
                    x: podCast.tracks.length
                  }
          }}
        </p>

        <table class="w-100 card-box-shadow pl-4 pr-4 pt-3 pb-3">
          <thead>
            <th class="text-left">
              {{ "PODCAST.DETAIL.EPISODES.LIST.TITLE" | translate }}
            </th>

            <th class="text-left">
              {{ "PODCAST.DETAIL.EPISODES.LIST.DATE" | translate }}
            </th>
            <th class="text-left">
              {{ "PODCAST.DETAIL.EPISODES.LIST.DURATION" | translate }}
            </th>
          </thead>

          <tr *ngFor="let track of podCast.tracks; index as i">
            <td class="podcast__list__title">{{ track.trackName }}</td>
            <td>{{ track.releaseDate | date : "shortDate" }}</td>
            <td class="text-center">
              {{ track.trackTimeMillis | date : "H:mm" }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
 -->
</div>
