<div class="podcast-dashboard">
  <div class="d-flex-col">
    <div class="d-flex justify-content-end mb-3">
      <input
        [placeholder]="'PODCAST.FILTER.PLACEHOLDER' | translate"
        type="text"
        #search
        [(ngModel)]="filterValue"
      />
    </div>

    <div class="podcast-dashboard__content" *ngIf="podcast$ | async as podcast">
      <app-podcast-card
        (click)="redirectToPodCast(entry)"
        *ngFor="
          let entry of podcast.feed.entry | filters : filterValue;
          index as i
        "
        [entry]="entry"
      ></app-podcast-card>
    </div>
  </div>
</div>
