<div class="podcast-dashboard container-fluid">
  <div class="pt-3 pb-3 d-flex justify-content-between align-items-center">
    <a
      routerLink="/"
      class="f-bold podcast-dashboard__title font-no-style f-20"
    >
      {{ "PODCASTER.TITLE" | translate }}
    </a>

    <ng-container *ngIf="tramissionActive$ | async as tramissionActive">
      <div class="dot" *ngIf="tramissionActive"></div>
    </ng-container>
  </div>
  <div class="divider mt-0 mb-3"></div>

  <router-outlet></router-outlet>
</div>
