.podcast-card { 
    cursor: pointer;
    position: relative;
    max-width: 300px;
    img {
        border-radius: 100px;
    }
    &__content { 
        border: 1px solid rgb(207, 207, 207);
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        height: 120px;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: -1; 
    }
}